#ul {
  display: flex;
  justify-content: space-around;

  flex-wrap: wrap;
}
body {
  background-color: rgb(141, 141, 141);
  max-width: 1600px;
  width: 100%;
}
.main {
  width: 100%;
  position: relative;
  top: 7vh;
}
.main .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  padding: 0;
}
.date {
  color: white;
}
.intro {
  background-image: linear-gradient(black, rgba(255, 255, 255, 0.9)),
    url("https://www.emeraldgrouppublishing.com/sites/default/files/image/covid-cells.jpg");
  color: white;
  padding-top: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-position: center;
  height: 100%;
  min-width: 100%;
  flex-basis: auto;
}
@media screen and (max-width: 1024px) {
  .main .inrto {
    height: 200vw;
    padding-top: 5%;
    text-align: center;
  }
  .main .content {
    font-size: 2vw;
    flex-wrap: wrap;
  }
  .main {
    top: 8vh;
  }
}
.intro p {
  width: 90%;
  text-align: left;
  line-height: 2;
}
#country-data {
  width: 95%;
}
#country-data h1 {
  color: rgb(0, 0, 0);
  text-shadow: 1px 5px 2px white, 1px 3px 5px yellow;
}
#continent-data {
  width: 95%;
}
#continent-data h1 {
  color: black;
  text-shadow: 1px 5px 2px white, 1px 3px 5px yellow;
}
.hide {
  display: none;
}
.big-text {
  font-size: 2rem;
  font-weight: bold;
}
.global {
  text-align: center;
  line-height: 1.5;
  text-shadow: 1px 3px 1px black;
}
.red {
  color: red;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.medium-text {
  font-size: 1.5rem;
}
.small-text {
  font-size: 1.2rem;
}
.date {
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 0.5em;
  background-image: linear-gradient(black, rgba(255, 255, 0, 0.8));
}
@media screen and (min-width: 1000px) {
  #ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #ul #drop {
    align-self: flex-end;
  }
}

#country-name {
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#name {
  margin-left: 30%;
  font-weight: 800;
  text-shadow: 1px 1px 1px white;
}
